<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701702590177-gon3ndf8sn55q6lstjfcp8b9i6dvnlvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701702590177-gon3ndf8sn55q6lstjfcp8b9i6dvnlvo</string>
	<key>API_KEY</key>
	<string>AIzaSyA7eKobTdTI6zpqiJaQVq4sUOgygsWwido</string>
	<key>GCM_SENDER_ID</key>
	<string>701702590177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajnea.ImmerFilm</string>
	<key>PROJECT_ID</key>
	<string>immerfilm-3ddc0</string>
	<key>STORAGE_BUCKET</key>
	<string>immerfilm-3ddc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701702590177:ios:f28c22678392022fc2f1a0</string>
</dict>
</plist>